@import "tailwindcss";
/*theme varibles*/
@theme {
    /* Colors */
    --color-khadi-50: #F9F8F6;
    --color-khadi-100: #EFEBE5;
    --color-khadi-200: #E0D8CC;
    --color-khadi-600: #8C7E6A;
    --color-khadi-800: #4A453E;
    --color-khadi-900: #2C2925;
    --color-khadi-accent: #C25E00;

    /* Fonts */
    --font-serif: "Playfair Display", serif;
    --font-sans: "Inter", sans-serif;
}

/* 2. ENABLE MANUAL DARK MODE (The Critical Change) */
/* This tells Tailwind: "Only turn on dark mode if the HTML tag has the class 'dark'" */
@custom-variant dark (&:where(.dark, .dark *));

/*@variant dark (&:where(.dark, .dark *));*/

/* 3. Custom Animations */
@keyframes slideIn {
    from { transform: translateX(100%); }
    to { transform: translateX(0); }
}

.animate-slide-in {
    animation: slideIn 0.3s ease-out forwards;
}